.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
height: 60px;
  padding: 20px 0;
  .mobileNavResponsive {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;

  }

  .menuBars {
    color: black;
    width: 30px;
    font-size: xx-large;
    background-color: transparent;
    border: none;
    outline: none;
    grid-area: menuBars;
    margin: 0 50px ;
  }

}


@media only screen and (min-width: 768px) {

  .Header {
    .menuBars {
      display: none;
    }
  }

}