.WhatIsBitCoin{
text-align: right;
  width: 90%;
  margin: auto;
  padding: 100px 0;
  img{
    width: 90%;
  }
  a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto;
    display: block;
    text-align: center;
  }

}