.Nav {
  grid-area: Nav;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .NavItem {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-bottom: .2px solid black;
    font-size: x-large;

    &:hover {
      color: red;
      font-weight: bold;
    }

    &:active {
      color: pink;
    }
  }


}


@media only screen and (min-width: 768px) {

  .Nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(white, gray, white);

    .NavItem {
      padding: 10px 20px;
      border-bottom: none;
      color: white;
      font-size: medium;
    }
  }
}